# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Visual Studio user/cache files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Compiler/linker intermediates
*.obj
*.ilk
*.pdb
*.ipdb
*.pch
*.tlog
*.log
*.tmp

# Visual C++ cache
ipch/
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Misc editor/OS junk
*~
.DS_Store
Thumbs.db

imgui.ini
OpenGLApp.exe
OpenGLApp